{% extends 'flatpages/default.html' %}

{% block title %} Список новостей {% endblock title %}

{% block content %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        padding: 8px;
        text-align: left;
        vertical-align: top;
        border: 1px solid black;
    }
    th {
        font-weight: bold;
    }
</style>
<table>
    <thead>
        <tr>
        <th>
            Заголовок
        </th>
        <th>
            Категория
        </th>
        <th>
            Дата создания
        </th>
        <th>
            Рейтинг
        </th>
        <th>
            Текст
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            {{ ad.title|title }}
        </td>
        <!--td>
            {{ post.category.name|title }}
        </td-->
        <td>
        {% for ad_category in ad.adcategory_set.all %}
        {{ ad_category.category.name|title }}
        {% endfor %}
        </td>
        <td>
            {{ ad.create_date }}
        </td>
        <td>
            {{ ad.rate }}
        </td>
        <td>
            {{ ad.text }}
        </td>
    </tr>
    </tbody>
    <!--button> <a href="/subscribe/?category_id={% for ad_category in ad.adcategory_set.all %}
        {{ ad_category.category.id }}
        {% endfor %}"> Подписаться на данную категорию постов</a> </button-->
</table>
{% if user.is_authenticated %}
    <a href="{% url 'create_response' ad.id %}">Написать отклик</a>
{% endif %}
{% endblock content %}