{% extends 'flatpages/default.html' %}

{% block title %} Мои отклики {% endblock title %}

{% block content %}
<form method="GET">
    {{ filter.form }}
    <input type="submit" value="Найти">
</form>

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        padding: 8px;
        text-align: left;
        vertical-align: top;
        border: 1px solid black;
    }
    th {
        font-weight: bold;
    }
    .adLink {
      text-decoration: none;
      color: blue;
    }
    .adLink:hover {
      text-decoration: underline;
    }
</style>

<table>
    <thead>
        <tr>
            <th>Объвяление</th>
            <th>От пользователя</th>
            <!--th>Текст</th-->
            <th>Текст отклика</th>
        </tr>
    </thead>
    <tbody>
        {% for resp in filter.qs %}
        <tr>
            <td>
                {{ resp.ad.title }}
                {% if not resp.accepted and not resp.deleted %}
                    <button> <a href="/accept_response/?resp_id={{ resp.id }}">Принять отклик</a> </button>
                    <button> <a href="/delete_response/?resp_id={{ resp.id }}">Удалить отклик</a> </button>
                {% elif resp.deleted %}
                  (ОТКЛИК ОТВЕРГНУТ)
                {% else %}
                  (ОТКЛИК ПРИНЯТ)
                {% endif %}
            </td>
            <td>{{ resp.person.user.username }}</td>
            <td>{{ resp.text }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'ads' %}">На главную</a>
<!-- Проверяем, что поддерживается постраничный вывод -->
{% if is_paginated %}

    <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

{% endif %}
{% endblock content %}