<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Название у нас будет Product -->
{% block title %}
Пост
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
{% if post %}
               <h1>{{ post.title }}</h1>
               <h2>{{ post.create_date|date:'d M Y'}}</h2>
               <h2>{{ post.text }}</h2>
{% endif %}
{% endblock content %}