<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Название у нас будет products -->
{% block title %}
Посты
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>Все посты</h1>
{% if posts %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Текст статьи</td>
           </tr>

           {% for post in posts %}
           <tr>
               <td>{{ post.title }}</td>
               <td>{{ post.create_date|date:'d M Y'}}</td>
               <td>{{ post.text|truncatechars:25 }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Увы, в этом разделе пока нет статей</h2>
   {% endif %}
{% endblock content %}