{% extends 'flatpages/default.html' %}
 
{% block title %} Список новостей {% endblock title %}
 
{% block content %}
<table>
    <thead>
        <th>
            Title
        </th>
        <th>
            Category
        </th>
        <th>
            Create date
        </th>
    </thead>
    <tr>
        <td>
            {{ post.title|title }}
        </td>
        <td>
            {{ post.category.name|title }}
        </td>
        <td>
            {{ post.create_date }}
        </td>
    </tr>
</table>
{% endblock content %}