{% extends 'flatpages/default.html' %}

{% block title %} П-осты {% endblock title %}

{% block content %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        padding: 8px;
        text-align: left;
        vertical-align: top;
        border: 1px solid black;
    }
    th {
        font-weight: bold;
    }
</style>

<table>
    <thead>
        <tr>
            <th>Заголовок</th>
            <th>Дата</th>
            <!--th>Текст</th-->
            <th>Рейтинг</th>
            <th>Автор</th>
        </tr>
    </thead>
    <tbody>
        {% for post in filter.qs %}
        <tr>
            <td>
                <a href="{% url 'post_detail' post.id %}">{{ post.title|title }}</a>
                <a href="{% url 'post_update' post.id %}"><u>Редактировать</u></a>
                <a href="{% url 'post_delete' post.id %}"><u>Удалить</u></a>
            </td>
            <td>{{ post.create_date|title }}</td>
            <!--td>{{ post.text }}</td-->
            <td>{{ post.rate }}</td>
            <td>{{ post.author.user.username }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'post_create' %}">Добавить новый пост</a> <br>
{% if is_not_author %}
<button> <a href="/posts/become_author/"> Стать автором!</a> </button>
{% endif %}
<!-- Проверяем, что поддерживается постраничный вывод -->
{% if is_paginated %}

    <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

{% endif %}
{% endblock content %}